.btn {
    display: block;
    float: left;
    width: 40%;
    text-align: center;
    font-weight: bold;
    color: #fff;
    filter: brightness(90%);
    background-color: #ff3399;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.btn span {
    padding: 1em;
    display: block;
}
.btn:hover {
    cursor: pointer;
    filter: none;
}
.settings {
    background: #00a9e5;
    width: 20%;
}
.disabled {
    color: #999;
    text-decoration: line-through;
}